<div class="profileContainer">
    <div class="profile">
        <h1>Investigador</h1>

        <div class="asideIzquierda">
            <div class="asideCentral">
                <h1>Urresta Lenin</h1>
                <img class="FotoPerfil" src="Perfil.png" alt="FotoPerfil" />
                <h3>Información de Contacto</h3>
            </div>
            <div class="InformacionInvestigador">
                <form action="">
                    <p>
                    <div class="input-group">
                        <label class="label">Nombres</label>
                        <input autocomplete="off" name="Nombres"  class="input" type="text">
                        <div></div>
                    </div>
                    <div class="input-group">
                        <label class="label">Apellidos</label>
                        <input autocomplete="off" name="Apellidos"  class="input" type="text">
                        <div></div>
                    </div>
                    <div class="input-group">
                        <label class="label">Correo Electrónico</label>
                        <input autocomplete="off" name="Email"  class="input" type="email">
                        <div></div>
                    </div>
                    <div class="input-group">
                        <label class="label">ORCID</label>
                        <input autocomplete="off" name="Orcid" id="Orcid" class="input" type="text">
                        <div></div>
                    </div>
                    <div class="input-group">
                        <label class="label">Fecha Nacimiento</label>
                        <input autocomplete="off" name="Email" id="Email" class="input" type="email">
                        <div></div>
                    </div>
                    <div class="input-group">
                        <label class="label">Teléfono</label>
                        <input autocomplete="off" name="Email" id="Email" class="input" type="email">
                        <div></div>
                    </div>
                    <div class="input-group">
                        <label class="label">Sexo</label>
                        <input autocomplete="off" name="Email" id="Email" class="input" type="email">
                        <div></div>
                    </div>
                    <div class="input-group">
                        <label class="label">Rol</label>
                        <input autocomplete="off" name="Email" id="Email" class="input" type="email">
                        <div></div>
                    </div>
                    <div class="input-group">
                        <label class="label">Institución</label>
                        <input autocomplete="off" name="Email" id="Email" class="input" type="email">
                        <div></div>
                    </div>
                    
                </form>
                <h3>Sobre Mi</h3>
                <p>
            </div>
        </div>
    </div>
    <div class="asideDerecha">

        <div class="bloqueOpciones">
            <h3><strong>Opciones del Perfil</strong></h3>
            <button class="btnProfile">Crear Nueva Publicación</button>
            <br>
            <button class="btnProfile">Modificar Datos del Usuario</button>
        <!-- <button class="btnProfile">Enviar recomendación a Soporte</button>-->
        <!--    <button class="btnProfile">Configurar Notificaciones</button>-->
        <!--    <button class="btnProfile">Ver Historial de Actividades</button>-->

        </div>
        <div class="bloqueOpciones">
            <h3><strong>Zona de Peligro</strong></h3>


            <button class="btnProfileDanger">Suspender Cuenta</button>
            <button class="btnProfileDanger">Modificar Contraseña</button>
            <button class="btnProfileDanger">Configurar Privacidad</button>
            <button class="btnProfileDanger">Desactivar Cuenta</button>

        </div>


        <div class="bloqueDePublicaciones">
            <h3>PUBLICACIONES</h3>

            <p><strong>PUBLICACIONES DESTACADAS</strong></p>
            <div class="destacadas">
                <div class="publicacion">
                    <h4>"Impacto de la computación cuántica"</h4>
                    <p>Una revisión sobre los avances más recientes en la computación cuántica...</p>
                    <a href="#">Leer más</a>
                </div>
                <div class="publicacion">
                    <h4>"Impacto de la computación cuántica"</h4>
                    <p>Una revisión sobre los avances más recientes en la computación cuántica...</p>
                    <a href="#">Leer más</a>
                </div>
                <div class="publicacion">
                    <h4>"Impacto de la computación cuántica"</h4>
                    <p>Una revisión sobre los avances más recientes en la computación cuántica...</p>
                    <a href="#">Leer más</a>
                </div>
                <div class="publicacion">
                    <h4>"Transformación digital en los negocios"</h4>
                    <p>Estudio de caso sobre cómo la tecnología está cambiando los modelos de negocio tradicionales...
                    </p>
                    <a href="#">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet />