.main{
  width: auto;
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  margin:50px;
  padding: 20px;
  animation: desvanecer 1.5s ease-out;
}
div{
  padding: 10px 30px;
}
h1{
  text-align: center;
}

@keyframes desplazamiento {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes desvanecer {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}