<section class="miembros">
  <h1>Miembros del Proyecto</h1>

  <!-- Universidad Técnica del Norte -->
  <div class="universidad">
    <h2>Universidad Técnica del Norte</h2>
    <div class="tarjetas-container">
      <div class="tarjeta">
        <img
          src="DAISYELIZABETHIMBAQUINGOESPARZA.svg"
          alt="Daisy Imbaquingo"
        />
        <div class="info">
          <p><strong>NOMBRE:</strong> Daisy Elizabeth Imbaquingo Esparza</p>
          <p><strong>FORMACIÓN:</strong> Doctor en Ciencias Informáticas</p>
          <p><strong>FILIACIÓN:</strong> Universidad Técnica del Norte</p>
        </div>
        <img src="LogoUtn.svg" alt="UTN" class="logo-u" />
      </div>
      <div class="tarjeta">
        <img src="JULIOESTEBANGUERRAMASSON.svg" alt="Julio Esteban Guerra" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Julio Esteban Guerra Masson</p>
          <p>
            <strong>FORMACIÓN:</strong> Magister en Nanotecnología y
            Microsistemas
          </p>
          <p><strong>FILIACIÓN:</strong> Universidad Técnica del Norte</p>
        </div>
        <img src="LogoUtn.svg" alt="UTN" class="logo-u" />
      </div>
      <div class="tarjeta">
        <img src="MARCIACATALINARAMIREZGALARRAGA.svg" alt="Marcia Ramirez" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Marcia Catalina Ramirez Galarraga</p>
          <p>
            <strong>FORMACIÓN:</strong> Magister en Docencia de la Matemática a
            Nivel Superior
          </p>
          <p><strong>FILIACIÓN:</strong> Universidad Técnica del Norte</p>
        </div>
        <img src="LogoUtn.svg" alt="UTN" class="logo-u" />
      </div>
      <div class="tarjeta">
        <img src="WILLAMRICARDOESPARZAENCALADA.svg" alt="Willam Esparza" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Willam Ricardo Esparza Encalada</p>
          <p><strong>FORMACIÓN:</strong> Magister en Gestión Ambiental</p>
          <p><strong>FILIACIÓN:</strong> Universidad Técnica del Norte</p>
        </div>
        <img src="LogoUtn.svg" alt="UTN" class="logo-u" />
      </div>
      <div class="tarjeta">
        <img src="CARLOSNOLASCOMAFLAYEPEZ.svg" alt="Carlos Mafla" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Carlos Nolasco Mafla Yepez</p>
          <p><strong>FORMACIÓN:</strong> Magister en Energías Renovables</p>
          <p><strong>FILIACIÓN:</strong> Universidad Técnica del Norte</p>
        </div>
        <img src="LogoUtn.svg" alt="UTN" class="logo-u" />
      </div>
      <div class="tarjeta">
        <img src="ROBERTMAURICIOVALENCIACHAPI.svg" alt="Robert Valencia" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Robert Mauricio Valencia Chapi</p>
          <p>
            <strong>FORMACIÓN:</strong> Doctor en Energía Sostenible, Nuclear y
            Renovable
          </p>
          <p><strong>FILIACIÓN:</strong> Universidad Técnica del Norte</p>
        </div>
        <img src="LogoUtn.svg" alt="UTN" class="logo-u" />
      </div>
      <div class="tarjeta">
        <img src="BRIZEIDANOHEMIGAMEZAPARICIO.svg" alt="Brizeida Gamez" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Brizeida Nohemi Gamez Aparicio</p>
          <p><strong>FORMACIÓN:</strong> PhD en Ciencias de la Ingeniería</p>
          <p><strong>FILIACIÓN:</strong> Universidad Técnica del Norte</p>
        </div>
        <img src="LogoUtn.svg" alt="UTN" class="logo-u" />
      </div>
      <div class="tarjeta">
        <img src="COSMEDAMIANMEJIAECHEVERRIA.svg" alt="Cosme Mejia" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Cosme Damian Mejia Echeverria</p>
          <p>
            <strong>FORMACIÓN:</strong> Magister en Manufactura y Diseño
            Asistido por Computador
          </p>
          <p><strong>FILIACIÓN:</strong> Universidad Técnica del Norte</p>
        </div>
        <img src="LogoUtn.svg" alt="UTN" class="logo-u" />
      </div>
      <div class="tarjeta">
        <img src="CARLOSALBERTOVASQUEZAYALA.svg" alt="Carlos Vasquez" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Carlos Alberto Vasquez Ayala</p>
          <p><strong>FORMACIÓN:</strong> Magister en Redes de Comunicaciones</p>
          <p><strong>FILIACIÓN:</strong> Universidad Técnica del Norte</p>
        </div>
        <img src="LogoUtn.svg" alt="UTN" class="logo-u" />
      </div>
    </div>
  </div>

  <!-- Universidad Estatal Amazónica -->
  <div class="universidad">
    <h2>Universidad Estatal Amazónica</h2>
    <div class="tarjetas-container">
      <div class="tarjeta">
        <img src="VERONICAISOLINAMASSÓNFIALLOS.svg" alt="Verónica Fiallos" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Verónica Isolina Massón Fiallos</p>
          <p><strong>FORMACIÓN:</strong> Doctora en Educación</p>
          <p><strong>FILIACIÓN:</strong> Universidad Estatal Amazónica</p>
        </div>
        <img src="LogoUea.svg" alt="UEA" class="logo-u" />
      </div>
      <div class="tarjeta">
        <img src="ANDRESSANTIAGOMARTINEZLEON.svg" alt="Andrés Martínez" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Andrés Santiago Martínez León</p>
          <p><strong>FORMACIÓN:</strong> Doctor en Ingeniería Mecánica</p>
          <p><strong>FILIACIÓN:</strong> Universidad Estatal Amazónica</p>
        </div>
        <img src="LogoUea.svg" alt="UEA" class="logo-u" />
      </div>
    </div>
  </div>

  <!-- ESPOL -->
  <div class="universidad">
    <h2>Escuela Superior Politécnica del Litoral (ESPOL)</h2>
    <div class="tarjetas-container">
      <div class="tarjeta">
        <img src="ALBERTGIOVANNYESPINALSANTANA.svg" alt="Albert Espinal" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Albert Giovanny Espinal Santana</p>
          <p><strong>FORMACIÓN:</strong> Doctor en Ingeniería</p>
          <p>
            <strong>FILIACIÓN:</strong> Escuela Superior Politécnica del Litoral
          </p>
        </div>
        <img src="LogoEspol.svg" alt="ESPOL" class="logo-u" />
      </div>
      <div class="tarjeta">
        <img src="EDWINGIANNINEVALAREZOANAZCO.svg" alt="Edwin Valarezo" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Edwin Giannine Valarezo Añazco</p>
          <p><strong>FORMACIÓN:</strong> Doctor en Electrónica</p>
          <p>
            <strong>FILIACIÓN:</strong> Escuela Superior Politécnica del Litoral
          </p>
        </div>
        <img src="LogoEspol.svg" alt="ESPOL" class="logo-u" />
      </div>
    </div>
  </div>

  <!-- Universidad Técnica de Manabí -->
  <div class="universidad">
    <h2>Universidad Técnica de Manabí</h2>
    <div class="tarjetas-container">
      <div class="tarjeta">
        <img src="JAIMEALCIDESMEZAHORMAZA.svg" alt="Jaime Meza" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Jaime Alcides Meza Hormaza</p>
          <p>
            <strong>FORMACIÓN:</strong> Doctor en Ingeniería de Proyectos y
            Sistemas
          </p>
          <p><strong>FILIACIÓN:</strong> Universidad Técnica de Manabí</p>
        </div>
        <img src="LogoUtm.svg" alt="UTM" class="logo-u" />
      </div>
    </div>
  </div>

  <!-- Universidad de Guayaquil -->
  <div class="universidad">
    <h2>Universidad de Guayaquil</h2>
    <div class="tarjetas-container">
      <div class="tarjeta">
        <img src="JULIOJOFFREBARZOLAMONTESES.svg" alt="Julio Barzola" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Julio Joffre Barzola Monteses</p>
          <p>
            <strong>FORMACIÓN:</strong> Ph.D (c), Information and Communication
            Technologies (ICT)
          </p>
          <p><strong>FILIACIÓN:</strong> Universidad de Guayaquil</p>
        </div>
        <img src="LogoUg.svg" alt="UG" class="logo-u" />
      </div>
    </div>
  </div>

  <!-- Universidad ICESI -->
  <div class="universidad">
    <h2>Universidad ICESI (Colombia)</h2>
    <div class="tarjetas-container">
      <div class="tarjeta">
        <img src="ANDRESNAVARROCADAVID.svg" alt="Andrés Navarro" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Andrés Navarro Cadavid</p>
          <p><strong>FORMACIÓN:</strong> Doctor en Telecomunicaciones</p>
          <p>
            <strong>FILIACIÓN:</strong> Universidad ICESI (Instituto Colombiano
            de Estudios Superiores de INCOLDA)
          </p>
        </div>
        <img src="LogoICESI.svg" alt="ICESI" class="logo-u" />
      </div>
    </div>
  </div>

  <!-- CENACE -->
  <div class="universidad">
    <h2>Operador Nacional de Electricidad (Ecuador)</h2>
    <div class="tarjetas-container">
      <div class="tarjeta">
        <img src="DIEGOERNESTOECHEVERRÍAJURADO.svg" alt="Diego Echeverría" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Diego Ernesto Echeverría Jurado</p>
          <p><strong>FORMACIÓN:</strong> Doctor en Ingeniería Eléctrica, PhD</p>
          <p><strong>FILIACIÓN:</strong> Operador Nacional de Electricidad</p>
        </div>
        <img src="LogoCenace.svg" alt="CENACE " class="logo-u" />
      </div>
    </div>
  </div>

  <!-- LACNIC Ecuador -->
  <div class="universidad">
    <h2>LACNIC Ecuador (I+D)</h2>
    <div class="tarjetas-container">
      <div class="tarjeta">
        <img src="HERNANADOLFOSAMANIEGOARMIJOS.svg" alt="Hernán Samaniego" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Hernán Adolfo Samaniego Armijos</p>
          <p>
            <strong>FORMACIÓN:</strong> Máster Universitario en Industria 4.0 y
            Máster en Telemática y Redes de Telecomunicación
          </p>
          <p><strong>FILIACIÓN:</strong> LACNIC Ecuador (I + D)</p>
        </div>
        <img src="LogoLacnic.svg" alt="LACNIC" class="logo-u" />
      </div>
    </div>
  </div>

  <!-- GAD Ibarra -->
  <div class="universidad">
    <h2>Dirección de Ambiente - GAD Ibarra</h2>
    <div class="tarjetas-container">
      <div class="tarjeta">
        <img src="DIEGORAMIROVILLALBACALDERON.svg" alt="Diego Villalba" />
        <div class="info">
          <p><strong>NOMBRE:</strong> Diego Ramiro Villalba Calderón</p>
          <p>
            <strong>FORMACIÓN:</strong> Magister en Gestión Integral de Cuencas
            Hidrográficas y Magister en Gestión Integral de Residuos Sólidos
          </p>
          <p><strong>FILIACIÓN:</strong> Dirección de Ambiente GAD Ibarra</p>
        </div>
        <img src="LogoGadIbarra.svg" alt="GAD" class="logo-u" />
      </div>
    </div>
  </div>
</section>
<router-outlet />
