<div class="ContenidoPagina">
    <div class="ContenidoLogos">
        <img src="EcuadorLogo.png" alt="Logo" class="logo" />
        <p class="SenecytTitle"> <b>Secretaria de Educación Superior, Ciencia, Tecnología e Innovación</b></p>
    </div>
    <h2 class="Oficio">Oficio Nro. SENESCYT-SDIC-DIC-2025-0023-O</h2>
    <h2 class="Direccion">Quito, D.M., 23 de enero de 2025</h2>
    <div class="ContenidoDoc">
        <p class="asunto">Asunto: Respuesta a la solicitud de registro - Red Internacional de Procesos en Ingeniería
            Sostenible (RIPIS)</p>
        <p>Ingeniera<br>
            Daisy Elizabeth Imbaquingo Esparza<br>
            En su Despacho</p>
        <br />
        <p>De mi consideración:</p>
        <br />
        <p class="CuerpoDoc">
            En respuesta a la solicitud de registro de la <strong>Red Internacional de Procesos en Ingeniería Sostenible
                (RIPIS)</strong>, me permito informar que una vez revisado y constatado el cumplimiento de los
            requisitos
            para el registro de redes, establecidos en el "Reglamento de Registro y Acreditación de Actores de
            Investigación
            e Incentivos Financieros y Administrativos a la Investigación, Desarrollo Tecnológico y Transferencia de
            Tecnología", emitido mediante Acuerdo Nro. SENESCYT-2023-028 el 09 de mayo de 2023; se asignó el número de
            registro de red <strong>REG-RED-25-0261</strong>.
            <br />
            <br />
            Por lo tanto, se invita a la red a informar a esta Cartera de Estado el progresivo cumplimiento de los
            objetivos
            y actividades contempladas en su planificación para conocer los aportes que realiza en su ámbito de
            competencia.
            <br />
            <br />
            Este proceso podrá comunicarlo al correo electrónico: <a>{{email}}</a>
            <br />
            <br />
            Nota: Mediante el presente queda insubsistente el Oficio Nro. SENESCYT-SDIC-DIC-2025-0008-O del 08 de enero
            de
            2025 debido a que el documento se emitió sin firma electrónica.
            <br />
            <br />
            Con sentimientos de distinguida consideración.
            <br />
            <br />
            Atentamente,
            <br />
            <br />
            <em>Documento firmado electrónicamente</em>
            <br />
            <strong>Carlos Alberto Viña Castillo</strong>
            <br />

            <span>DIRECTOR DE INVESTIGACION CIENTIFICA (E)</span>
            <br />
            <br />
            Copia:<br>

        </p>
        <h4 class="Analista">Bianca Nathalie Palacios Pinargotti <br />

            Analista de Investigación Científica 2</h4>
        <br />

        bp

    </div>
    <br />
    <div class="Qr">
        <img src="Qr.png" alt="FirmaQr" class="FirmaQr" />
    </div>
    <div class="footLogos">
        <p class="Informacion">
            Punto de Atención al Usuario: Whymper E7-37 y Alpallana, edificio Delfos, Quito<br />
            Edificio Matriz: Alpallana E7-37 entre Av. Diego de Almagro y Whymper.<br />
            Código Postal: 170518. Quito - Ecuador. Teléfono: 593-2 3934-300<br />
            www.educacionsuperior.gob.ec<br />

        </p>
            <img src="NuevoEcu.svg" alt="Logo" class="LogoEcuador" />

        

    </div>
    <h6>* Documento firmado electrónicamente por Quipux</h6>
    <router-outlet />