<main>
  <div>
  <h1>POLÍTICA DE COOKIES</h1>
  <p>Red Internacional de Investigación de Procesos en Ingeniería Sostenible (RIPIS)
  </p>
  <p>
    En RIPIS utilizamos cookies para mejorar la experiencia de navegación de nuestros usuarios, asegurar el funcionamiento del sitio y recopilar información estadística sobre el uso de nuestra plataforma. A continuación, te explicamos qué son las cookies, cómo las usamos y cómo puedes gestionarlas.
  </p>
  <h2>
  1. ¿Qué son las cookies?
  </h2>
  <p>
  Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo (ordenador, tablet, móvil) cuando visitas un sitio web. Estas permiten que el sitio recuerde tus preferencias (como el idioma, nombre de usuario, etc.) y mejore tu experiencia en futuras visitas.
  </p>
  <h2>
  2. Tipos de cookies que utilizamos
  </h2>
  <p>
  En RIPIS empleamos los siguientes tipos de cookies:
  </p>
  <p>Cookies técnicas o necesarias: Permiten la navegación por el sitio y el uso de sus funcionalidades básicas. Son imprescindibles para el correcto funcionamiento de la web.
  </p>
  <p>Cookies de personalización: Permiten recordar tus preferencias (por ejemplo, idioma o región) para ofrecerte una experiencia más personalizada.
  </p>
  <p>
    Cookies de análisis o rendimiento: Nos ayudan a entender cómo interactúan los usuarios con nuestra web y a mejorarla. Utilizamos herramientas como Google Analytics para recopilar estos datos de forma anónima.
  </p>
  <p>
  Cookies de terceros: Algunos servicios integrados en nuestra web, como mapas o videos de plataformas externas, pueden instalar cookies propias (por ejemplo, YouTube, Google Maps). Estas cookies están gestionadas por terceros y no por RIPIS.
  </p>
  <h2>
  3. ¿Cómo puedes gestionar tus cookies?
  </h2>
  <p>
  Al ingresar por primera vez al sitio web de RIPIS, se te solicitará el consentimiento para
    el uso de cookies no esenciales. Puedes aceptar, rechazar o configurar tus preferencias.
    Además, puedes configurar tu navegador para permitir, bloquear o eliminar las cookies
    instaladas en tu equipo.
  </p>

  <h2>
  4. Cambios en la política de cookies
  </h2>
  <p>
  RIPIS se reserva el derecho de modificar esta Política de Cookies en cualquier momento. Cualquier cambio significativo será notificado en nuestro sitio web.
  </p>
  <p>
  Fecha de última actualización: 24 de abril de 2025
  </p>
  </div>
</main>
<router-outlet/>
