<main>
  <h1 class="titulo">Universidades Aliadas</h1>
  <section class="contenedor">

    <div class="carta">
      <a href="https://www.utn.edu.ec" target="_blank">
        <p class="carta-imagen">
          <img src="Utnr.png" alt="Universidad Técnica del Norte" />
        </p>
      </a>
      <div class="carta-informacion">
        <h2 class="subtitle">Universidad Técnica del Norte (UTN) - Ecuador</h2>
      </div>
    </div>

    <div class="carta">
      <a href="https://www.icesi.edu.co" target="_blank">
        <p class="carta-imagen">
          <img src="ICESI.png" alt="Universidad ICESI (Colombia)" />
        </p>
      </a>
      <div class="carta-informacion">
        <h2 class="subtitle">Universidad ICESI (ICESI) - Colombia</h2>
      </div>
    </div>

    <div class="carta">
      <a href="https://www.guayaquil.edu.ec" target="_blank">
        <p class="carta-imagen">
          <img src="gUAYAKIL.png" alt="Universidad de Guayaquil" />
        </p>
      </a>
      <div class="carta-informacion">
        <h2 class="subtitle">Universidad de Guayaquil (UG) - Ecuador</h2>
      </div>
    </div>

    <div class="carta">
      <a href="https://www.utm.edu.ec" target="_blank">
        <p class="carta-imagen">
          <img src="utm.png" alt="Universidad Técnica de Manabí" />
        </p>
      </a>
      <div class="carta-informacion">
        <h2 class="subtitle">Universidad Técnica de Manabí (UTM) - Ecuador</h2>
      </div>
    </div>

    <div class="carta">
      <a href="https://www.espol.edu.ec" target="_blank">
        <p class="carta-imagen">
          <img src="espol.png" alt="Escuela Superior Politécnica del Litoral (ESPOL)" />
        </p>
      </a>
      <div class="carta-informacion">
        <h2 class="subtitle">Escuela Superior Politécnica del Litoral (ESPOL) - Ecuador</h2>
      </div>
    </div>

    <div class="carta">
      <a href="https://www.manabi.edu.ec" target="_blank">
        <p class="carta-imagen">
          <img src="manabi.svg" alt="Universidad Estatal Amazónica" />
        </p>
      </a>
      <div class="carta-informacion">
        <h2 class="subtitle">Universidad Estatal Amazónica (UEA) - Ecuador</h2>
      </div>
    </div>

  </section>
</main>
