@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

/* Estilo para cada carta */
.carta {
  background-color: #F5ECD5;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s;
  transition: transform 0.3s ease; /* Transici칩n suave para el zoom */
}

/* Estilo para las im치genes de los logos (con zoom) */
.carta-imagen img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.3s ease; /* Transici칩n suave para el zoom */
}

/* Efecto de zoom al pasar el mouse sobre la imagen */
.carta-imagen img:hover {
  transform: scale(1.1); /* Aumenta el tama침o al 110% */
}
.titulo {
  animation: fadeInUp 1s;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  color: #2C3E50;
  text-transform: uppercase;
  line-height: 1.6;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.carta-informacion {
  font-size: 14px;
  color: #555;
  font-family: 'Arial', sans-serif;
  line-height: 1.8;
  text-align: center;
}

@media (max-width: 900px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .contenedor {
    grid-template-columns: 1fr;
  }
}
