<div class="aviso-legal">
    <h2>AVISO LEGAL</h2>
    <p>
        De conformidad con lo dispuesto en la Ley de Protección de Datos de Ecuador, todos los datos de carácter
        personal facilitados durante la utilización del sitio web serán tratados de conformidad con lo dispuesto en la
        <strong>Política de Privacidad</strong> que todo usuario debe aceptar expresamente para poder utilizar y
        registrarse en el sistema.
    </p>
    <p>
        Todo usuario que acepte las presentes condiciones de uso acepta de forma informada, expresa e inequívoca nuestra
        <strong>Política de Privacidad</strong>, asistiéndole en este sentido los derechos de acceso, rectificación,
        supresión, oposición, limitación del tratamiento y, cuando legalmente proceda, portabilidad, respecto a sus
        datos de carácter personal, pudiendo ejercerlos según se informa en la mencionada Política de Privacidad.
    </p>
    <p>
        Para presentar reclamaciones en el uso de nuestros beneficios pueden dirigirse por correo electrónico a la
        dirección RipisSoport.gmail.com
</div>