<section class="estatutos">
  <div class="contenedor">
    <h1>Estatutos RIPIS</h1>
    <p class="subtitulo">
      Red Internacional de Ingeniería en Procesos Sostenibles
    </p>
    <p class="año">2024</p>

    <div class="bloque">
      <p><strong>Estatutos</strong></p>
      <p>
        <strong>Red Internacional de Investigación de Procesos en Ingeniería
          Sostenible</strong>
      </p>
      <p><strong>CONSIDERANDO:</strong></p>
      <p>
        Que, el artículo 27 de la Declaración Universal de los Derechos Humanos
        menciona que: "1. Toda persona tiene derecho a tomar parte libremente en
        la vida cultural de la comunidad, a gozar de las artes y a participar en
        el progreso científico y en los beneficios que de él resulten. y 2. Toda
        persona tiene derecho a la protección de los intereses morales y
        materiales que le correspondan por razón de las producciones
        científicas, literarias o artísticas de que sea autora."
      </p>
      <p>
        Que, el numeral 3 del artículo 334 de la Constitución de la República
        señala que el Estado promoverá el acceso equitativo a los factores de
        producción, para lo cual le corresponderá impulsar y apoyar el
        desarrollo y difusión de conocimientos y tecnologías orientados a los
        procesos de producción.
      </p>
      <p>
        Que, el artículo 350 ibídem señala que el sistema de educación superior
        tiene como finalidad la formación académica y profesional con visión
        científica y humanista; la investigación científica y tecnológica; la
        innovación, promoción, desarrollo y difusión de los saberes y las
        culturas; la construcción de soluciones para los problemas del país, en
        relación con los objetivos del régimen de desarrollo.
      </p>
      <p>
        Que, el artículo 351 ibídem indica que el sistema de educación superior
        estará articulado al sistema nacional de educación y al Plan Nacional de
        Desarrollo; la ley establecerá los mecanismos de coordinación del
        sistema de educación superior con la Función Ejecutiva. Este sistema se
        regirá por los principios de autonomía responsable, cogobierno, igualdad
        de oportunidades, calidad, pertinencia, integralidad, autodeterminación
        para la producción del pensamiento y conocimiento, en el marco del
        diálogo de saberes, pensamiento universal y producción científica
        tecnológica global.
      </p>
      <p>
        Que, el artículo 386 ibídem establece que el Sistema Nacional de
        Ciencia, Tecnología, Innovación y Saberes Ancestrales comprenderá
        programas, políticas, recursos, acciones, e incorporará a instituciones
        del Estado, universidades y escuelas politécnicas, instituciones de
        investigación públicos y particulares, empresas públicas y privadas,
        organismos no gubernamentales y personas naturales o jurídicas, en tanto
        realizan actividades de investigación, desarrollo tecnológico,
        innovación y aquellas ligadas a los saberes ancestrales.
      </p>
      <p>
        Que, los numerales 2 y 4 del artículo 387 ibídem indica las
        responsabilidades del Estado que son promover la generación y producción
        de conocimiento, fomentar la investigación científica y tecnológica, y
        potenciar los saberes ancestrales, para así contribuir a la realización
        del buen vivir, al sumak kawsay; y, garantizar la libertad de creación e
        investigación en el marco del respeto a la ética, la naturaleza, el
        ambiente, y el rescate de los conocimientos ancestrales.
      </p>
      <p>
        Que, el artículo 388 ibídem que el Estado destinará los recursos
        necesarios para la investigación científica, el desarrollo tecnológico,
        la innovación, la formación científica, la recuperación y desarrollo de
        saberes ancestrales y la difusión del conocimiento.
      </p>
      <p>
        Que, el Reglamento de Régimen Académico, en su artículo 43 indica que
        "(...) Las IES establecerán los mecanismos y normativa pertinente para
        que tanto profesores, investigadores como estudiantes desarrollen
        investigación académica y científica relevante y sus resultados sean
        difundidos y/o transferidos, buscando el impacto social del
        conocimiento, así como su aprovechamiento en la generación de nuevos
        productos, procesos o servicios. (...)"
      </p>
      <p>
        Que, en el artículo 43 ibídem se menciona que la investigación académica
        y científica: “Se desarrolla mediante programas y proyectos de
        investigación, enmarcados en los objetivos, políticas institucionales,
        líneas de investigación y recursos disponibles de las IES. Las líneas,
        programas y proyectos responden a los desafíos y problemas sociales,
        naturales, tecnológicos, entre otros, priorizados por la institución.
        Los proyectos podrán desarrollarse institucionalmente o a través de
        redes nacionales y/o internacionales."
      </p>
      <p>
        Que, el 20 de octubre de 2023 se creó la Red Internacional de Ingeniería
        y Ciencias Aplicadas, con los objetivos de definir los requerimientos de
        investigación en el Sector de Conocimiento, y producir conocimiento a
        través de grupos de estudio y articulación con la academia y otros
        actores relacionados a la temática.
      </p>
      <p>En ejercicio de las atribuciones conferidas:</p>

      <h2>OBJETO Y ATRIBUCIONES</h2>
      <p>
        <strong>Artículo 1.-</strong> El objeto del presente instrumento es
        normar la organización y funcionamiento de la Red Internacional de
        Investigación de Procesos en Ingeniería Sostenible, de sus miembros y/u
        órganos, y será de obligatorio cumplimiento. La Red es una instancia
        asociativa, no constituye una persona jurídica, no tiene ánimo de lucro,
        su finalidad es social y pública, y se regirá por las disposiciones
        establecidas en la presente normativa.
      </p>
      <p>
        <strong>Artículo 2.-</strong> La Red Internacional de Investigación de
        Procesos en Ingeniería Sostenible (RIPIS) tendrá las siguientes
        atribuciones:
      </p>
      <ul>
        <li>
          a) Sugerir y promover políticas públicas para el sector, orientadas al
          fortalecimiento y desarrollo de la investigación en procesos de
          ingeniería sostenible;
        </li>
        <li>
          b) Establecer y mantener las relaciones entre sus miembros e
          integrarse a otras redes nacionales, regionales e internacionales de
          investigación que realicen o prevean realizar actividades relacionadas
          con la investigación en procesos de ingeniería sostenible;
        </li>
        <li>
          c) Impulsar el debate de problemáticas relacionadas con la
          investigación en procesos de ingeniería sostenible, con el fin de
          generar estrategias y acciones a implementar;
        </li>
        <li>
          d) Promover la difusión y las actividades programadas por los diversos
          miembros relacionados con el objeto de la RED, fomentando el interés
          por la investigación en procesos de ingeniería sostenible en el país y
          a nivel internacional;
        </li>
        <li>
          e) Elaborar y actualizar una agenda nacional e internacional de
          investigación, así como priorizar líneas de investigación acordes a
          las políticas públicas existentes en materia de procesos de ingeniería
          sostenible y que sea de interés para sus miembros;
        </li>
        <li>
          f) Apoyar a sus miembros en temas específicos de investigación en
          ingeniería sostenible;
        </li>
        <li>
          g) Las demás que el Comité Directivo decida establecer para el
          cumplimiento de los objetivos de la Red Internacional de Investigación
          de Procesos en Ingeniería Sostenible.
        </li>
      </ul>

      <h2>DE LOS MIEMBROS DE LA RED</h2>
      <p>
        <strong>Artículo 3.-</strong> La Red Internacional de Investigación de
        Procesos en Ingeniería Sostenible (RIPIS) estará conformada
        prioritariamente por investigadores de las instituciones de educación
        superior de naturaleza pública y/o privada, institutos públicos y
        privados de investigación, organizaciones no gubernamentales, cámaras
        productivas, asociaciones, entidades privadas y públicas, y personas
        naturales vinculadas a la investigación en procesos de ingeniería
        sostenible.
      </p>
      <p>
        <strong>Artículo 4.-</strong> Existen las siguientes categorías de
        miembros: Fundadores, Activos y Honorarios.
      </p>
      <p>
        <strong>Artículo 5.-</strong> Son miembros fundadores todos los
        integrantes de la red que conformaron el acta de creación de la red.
      </p>
      <p>
        <strong>Artículo 6.-</strong> Son miembros activos de la red todos los
        miembros que sean aceptados por el comité directivo bajo el proceso
        especificado.
      </p>
      <p>
        <strong>Artículo 7.-</strong> Son miembros honorarios, las personas de
        renombre que decida la Asamblea General brindar ese reconocimiento, bajo
        la presentación de una moción respaldada con al menos el 25% de los
        miembros de la red.
      </p>
      <p>
        <strong>Artículo 8.-</strong> Son deberes y atribuciones de los miembros
        de la Red Internacional de Investigación de Procesos en Ingeniería
        Sostenible (RIPIS), las siguientes:
      </p>
      <ul>
        <li>a) Cumplir las normativas aprobadas por la Asamblea General;</li>
        <li>b) Asistir puntualmente a las sesiones convocadas;</li>
        <li>c) Participar con voz y voto en la Asamblea General;</li>
        <li>
          d) Integrar las comisiones que se establecieren en la Red
          Internacional de Investigación de Procesos en Ingeniería Sostenible
          (RIPIS);
        </li>
        <li>
          e) Manejar la información obtenida por medio de la red con
          transparencia y ética;
        </li>
        <li>f) Evitar actitudes y comportamientos de competencia desleal;</li>
        <li>g) Proponer y presentar proyectos de investigación para la red;</li>
        <li>
          h) Cumplir con las demás atribuciones que le otorgue el Comité
          Directivo.
        </li>
      </ul>

      <h2>ADMISIÓN Y EXCLUSIÓN DE MIEMBROS</h2>
      <p>
        <strong>Artículo 9.-</strong> Para el proceso de admisión a la Red
        Internacional de Investigación de Procesos en Ingeniería Sostenible
        (RIPIS), el candidato interesado deberá presentar una solicitud ante la
        Secretaría dirigida al Presidente/a del Comité Directivo, la cual será
        remitida en el término de cinco (5) días al Comité Directivo para
        análisis y verificación del cumplimiento de los requisitos necesarios
        para su admisión.
      </p>
      <p>
        <strong>Artículo 10.-</strong> Las personas naturales o jurídicas que
        tengan interés en ser candidatos por conformar la Red Internacional de
        Investigación de Procesos en Ingeniería Sostenible (RIPIS) deberán
        presentar una solicitud y cumplir con los siguientes requisitos:
      </p>
      <ul>
        <li>a) Haber promovido y desarrollado actividades de investigación;</li>
        <li>
          b) Haber participado en eventos nacionales o internacionales
          relacionados con la procesos de ingeniería sostenible, o; Presentar
          ante la Secretaría una propuesta de investigación en las temáticas
          relacionadas al objeto de la Red Internacional de Investigación de
          Procesos en Ingeniería Sostenible (RIPIS);
        </li>
        <li>
          c) Para el caso de miembros con filiación institucional y asociados se
          deberá presentar el documento que acredite su representatividad.
        </li>
      </ul>
      <p>
        <strong>Artículo 11.-</strong> El Comité Directivo o cualquiera de los
        miembros de la Red Internacional de Investigación de Procesos en
        Ingeniería Sostenible (RIPIS) podrán solicitar la exclusión de uno o
        varios miembros en caso de incumplimiento de las disposiciones
        normativas establecidas por la RED. El Comité Directivo resolverá por
        mayoría de votos y de manera definitiva sobre la exclusión del miembro.
      </p>
      <p>
        <strong>Artículo 12.-</strong> Los miembros de la Red Internacional de
        Investigación de Procesos en Ingeniería Sostenible (RIPIS) podrán
        solicitar voluntariamente su disociación, presentando una solicitud
        dirigida al presidente/a del Comité Directivo, quien tomará conocimiento
        y decidirá al respecto.
      </p>

      <h2>DE LA ASAMBLEA GENERAL</h2>
      <p>
        <strong>Artículo 13.-</strong> La asamblea general es la máxima
        autoridad de la Red y representa al conjunto de sus miembros, hay
        asambleas ordinarias y extraordinarias.
      </p>
      <p>
        <strong>Artículo 14.-</strong> La asamblea general ordinaria se
        realizará al menos una vez al año dentro de los tres meses siguientes al
        cierre del ejercicio. El comité directivo determinará la modalidad,
        lugar y fecha de dicha asamblea.
      </p>
      <p>
        <strong>Artículo 15.-</strong> Corresponde a la asamblea general
        ordinaria:
      </p>
      <ul>
        <li>
          a) Fijar los objetivos institucionales y las directrices de la
          política general de la RED
        </li>
        <li>b) Conocer y aprobar los informes del comité directivo</li>
        <li>
          c) Conocer y aprobar el balance general y estado de pérdidas y
          ganancias del ejercicio anual anterior
        </li>
        <li>d) Realizar las elecciones determinadas por el estatuto</li>
        <li>
          e) Tratar cualquier asunto relacionado con los intereses de la red
          excepto los que corresponden exclusivamente a las asambleas
          extraordinarias.
        </li>
      </ul>
      <p>
        <strong>Artículo 16.-</strong> Las asambleas generales extraordinarias
        se celebran por petición de la propia asamblea, cada vez que el comité
        directivo acuerde convocar a ellas por estimar lo necesario para la
        buena marcha de la institución o de la red o cada vez que por lo menos
        un 30% de los miembros de la asamblea lo soliciten por escrito al comité
        directivo.
      </p>
      <p>
        <strong>Artículo 17.-</strong> Corresponde a la asamblea general
        extraordinaria tratar los siguientes puntos:
      </p>
      <ul>
        <li>a) Reforma del estatuto de la RED</li>
        <li>b) Disolución de la RED</li>
        <li>
          c) Asociación permanente o transitoria de la red con otras
          organizaciones de naturaleza similar
        </li>
        <li>
          d) Autorización para transacciones de venta de bienes, permuta o
          hipoteca con valores superiores a 10 SBU
        </li>
        <li>
          e) Las reclamaciones en contra de los miembros del comité directivo,
          para hacer efectivas las responsabilidades que les corresponden, por
          infracción grave a este estatuto y al reglamento.
        </li>
      </ul>
      <p>
        <strong>Artículo 18.-</strong> Tendrá voz y voto de la asamblea general
        quien cumpla los siguientes puntos:
      </p>
      <ul>
        <li>a) Ser miembro fundador, o</li>
        <li>b) Estar activo 6 meses en los registros de la red, y</li>
        <li>c) Haber participado en al menos 70% de las reuniones de la red</li>
      </ul>
      <p>
        <strong>Artículo 19.-</strong> Son obligaciones de los miembros de la
        asamblea las siguientes:
      </p>
      <ul>
        <li>a) Participar en al menos el 50% de las reuniones</li>
        <li>b) Ser parte de al menos una actividad planificada por la red</li>
        <li>c) Cumplir con las delegaciones establecidas por el directorio</li>
        <li>
          d) Desempeñar los cargos para los cuales son elegidos por la asamblea
        </li>
      </ul>
      <p>
        <strong>Artículo 20.-</strong> Se pierde la calidad de miembro de la red
        cuando:
      </p>
      <ul>
        <li>a) Por fallecimiento</li>
        <li>b) Por renuncia voluntaria</li>
        <li>c) Por ausencia superior al 50% de las reuniones de la red</li>
        <li>
          d) Por incumplimiento de actividades sobre la base de informes
          presentados por otros miembros o el directorio de la red
        </li>
      </ul>
      <p>
        <strong>Artículo 21.-</strong> La asamblea general será convocada por el
        presidente previo acuerdo del comité directivo, mediante carta o
        circular enviada a los miembros de la asamblea, por lo menos con 8 días
        de anticipación al de su inicio.
      </p>
      <p>
        <strong>Artículo 22.-</strong> La asamblea puede sesionar válidamente
        con la mayoría absoluta de sus miembros con derecho a voto.
        Transcurridos 60 minutos de la hora convocada, podrá sesionar con el
        número de miembros presentes siempre que no sea menor al 33% de sus
        miembros con derecho a voto.
      </p>
      <p>
        <strong>Artículo 23.-</strong> Los acuerdos de la Asamblea general se
        adoptan por mayoría absoluta de los miembros presentes, salvo los casos
        en los que la ley, el estatuto o el reglamento hayan fijado mayoría
        especial.
      </p>
      <p>
        <strong>Artículo 24.-</strong> Los miembros de la asamblea general
        pueden ser subrogados, pero ninguno de ellos puede emitir más de un
        voto.
      </p>
      <h2>DEL COMITÉ DIRECTIVO</h2>
      <p>
        <strong>Artículo 33.-</strong> Son deberes y atribuciones del
        Presidente/a de la RIPIS:
      </p>
      <ul>
        <li>a) Establecer el orden del día para las sesiones.</li>
        <li>
          b) Representar oficialmente a la RIPIS, facultad que podrá ser
          delegada jerárquicamente cuando sea necesario.
        </li>
        <li>
          c) Convocar y presidir las sesiones tanto del Comité Directivo como de
          la Asamblea General.
        </li>
        <li>
          d) Ratificar las actas de las sesiones del Comité Directivo en
          conjunto con el Secretario/a.
        </li>
        <li>
          e) Actuar como principal portavoz de la RIPIS tanto a nivel nacional
          como internacional.
        </li>
        <li>
          f) Impulsar, estructurar y dirigir los planes, programas y proyectos
          que sean pertinentes para alcanzar las metas y objetivos de la RIPIS.
        </li>
        <li>
          g) Presentar ante la asamblea general el informe anual de actividades
          y cualquier otro informe que este requiera.
        </li>
        <li>
          h) Difundir y destacar las actividades llevadas a cabo por la RIPIS.
        </li>
        <li>
          i) Facilitar y fomentar la comunicación entre los miembros de la
          RIPIS.
        </li>
        <li>
          j) Cumplir con cualquier otra responsabilidad que le sea designada
          según las presentes regulaciones.
        </li>
      </ul>

      <p>
        <strong>Artículo 34.-</strong> Atribuciones del Vicepresidente/a de la
        RIPIS:
      </p>
      <ul>
        <li>
          a) Suplir al Presidente/a en caso de ausencia, ya sea de manera
          temporal o permanente.
        </li>
        <li>
          b) Participar activamente en las reuniones organizadas por el Comité
          Directivo.
        </li>
        <li>
          c) Asegurarse de que se cumplan adecuadamente los objetivos
          establecidos por la RIPIS.
        </li>
        <li>
          d) Cumplir con cualquier otra responsabilidad o tarea que le sea
          designada según las presentes regulaciones.
        </li>
        <li>
          e) Monitorear las Resoluciones y acciones tomadas por el Comité
          Directivo.
        </li>
      </ul>

      <p>
        <strong>Artículo 35.-</strong> Los y las vocales tendrán las siguientes
        atribuciones y responsabilidades:
      </p>
      <ul>
        <li>
          a) Coadyuvar a la promoción de las actividades de la Red Internacional
          de Investigación de Procesos en Ingeniería Sostenible (RIPIS);
        </li>
        <li>
          b) Participar en las reuniones que convoque el Comité Directivo;
        </li>
        <li>
          c) Reemplazar temporalmente al Vicepresidente/a y secretaria, en caso
          de ausencia, temporal o definitiva. Para ello el Presidente/a del
          Comité Directivo designará el o la vocal que realizará tal reemplazo;
        </li>
        <li>
          d) Participar de las comisiones permanentes y especiales designadas
          por el comité directivo;
        </li>
        <li>
          e) Compartir solidariamente las funciones y responsabilidades que este
          estatuto entregue al comité directivo;
        </li>
        <li>
          f) Las demás señaladas en la presente normativa del Comité Directivo.
        </li>
      </ul>

      <p>
        <strong>Artículo 36.-</strong> Funciones de la Secretaría de la RIPIS:
      </p>
      <ul>
        <li>
          a) Preparar, mantener, firmar y documentar las convocatorias para las
          sesiones del Comité Directivo y la Asamblea General.
        </li>
        <li>
          b) Redactar, custodiar, firmar y registrar las actas de las reuniones
          del Comité Directivo y la Asamblea General.
        </li>
        <li>c) Asistir a las reuniones organizadas por el Comité Directivo.</li>
        <li>
          d) Recibir los proyectos de investigación propuestos por los miembros
          de la RIPIS.
        </li>
        <li>
          e) Asegurar el cumplimiento y supervisar la observancia de esta
          regulación y otras normativas internas de la RIPIS.
        </li>
        <li>
          f) Receptar las propuestas de políticas generales que guíen las
          actividades de la RIPIS y colaborar con el Comité en la definición de
          su plan de trabajo, conforme a esta regulación.
        </li>
        <li>
          g) Preparar el informe justificado que será presentado al Comité
          Directivo para la posible exclusión de uno o más miembros de la RIPIS.
        </li>
        <li>
          h) Redactar las resoluciones y otros documentos basados en las
          decisiones del Comité Directivo.
        </li>
        <li>
          i) Gestionar toda la documentación generada tanto por el Comité
          Directivo como por la Asamblea General.
        </li>
        <li>
          j) Certificar los documentos emitidos por el Comité Directivo y la
          Asamblea General.
        </li>
        <li>
          k) Verificar y certificar la presencia del quórum necesario para
          llevar a cabo las sesiones del Comité Directivo y la Asamblea General.
        </li>
        <li>
          l) Cumplir con cualquier otra responsabilidad o tarea que le sea
          asignada según esta regulación.
        </li>
      </ul>

      <p>
        <strong>DISPOSICIÓN FINAL ÚNICA.-</strong> La Secretaria se encargará de
        la difusión del presente Estatuto a los miembros de la Red.
      </p>
      <p>
        Dado en la ciudad de Ibarra, a los 27 días del mes de septiembre de
        2024.
      </p>
      <p class="firmas">
        Presidente/a &nbsp;&nbsp;&nbsp; Vicepresidente/a &nbsp;&nbsp;&nbsp;
        Secretario/a &nbsp;&nbsp;&nbsp; Vocal 1 &nbsp;&nbsp;&nbsp; Vocal 2
      </p>
    </div>
  </div>
</section>
<router-outlet />