<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<main>
  <section class="Contenedor">
    <div class="Beneficios">
      <h1 class="slash-arriba"><i class="fas fa-bullseye"></i> DESCRIPCIÓN DE LA RED DE INVESTIGACIÓN</h1>

      <h2 class="subtitle"><i class="fas fa-cogs"></i> • Nombre:
        <span> Red Internacional de Investigación en Procesos de Ingeniería Sostenible</span>
      </h2>

      <h2 class="subtitle"><i class="fas fa-rocket"></i> • Acrónimo:
        <span>RIPIS</span>
      </h2>

      <h2 class="subtitle"><i class="fas fa-lightbulb"></i> • Descripción:
        <span>Red de carácter académico y científico que articula instituciones y profesionales para desarrollar soluciones sostenibles mediante investigación aplicada e innovación tecnológica.</span>
      </h2>
    </div>
    <div class="Objetivos">
      <h3><i class="fas fa-bullseye"></i> OBJETIVOS</h3>
      <p><i class="fas fa-list-ul"></i> Objetivos de la Red de Investigación:</p>
      <p><i class="fas fa-users"></i> • Promover la colaboración entre investigadores, académicos y profesionales de diversas disciplinas para abordar los desafíos complejos relacionados con los procesos de ingeniería sostenible.</p>
      <p><i class="fas fa-industry"></i> • Desarrollar soluciones innovadoras y sostenibles en los campos de la producción industrial, agropecuaria, forestal, biotecnología, energía y seguridad alimentaria, contribuyendo al avance del conocimiento y la tecnología.</p>
      <p><i class="fas fa-city"></i> • Contribuir a la creación de ciudades más inclusivas, seguras y sostenibles a través de la investigación en tecnologías y procesos que promuevan la mejora de la sostenibilidad urbana.</p>
      <p><i class="fas fa-exchange-alt"></i> • Crear plataformas y mecanismos para la difusión y transferencia de conocimientos y tecnologías desarrolladas dentro de la red, asegurando su aplicación efectiva en el sector productivo y en políticas públicas.</p>
      <p><i class="fas fa-graduation-cap"></i> • Aumentar la capacidad de investigación y desarrollo de las instituciones participantes, promoviendo la formación de investigadores y el fortalecimiento de grupos de investigación en los campos de interés de la red.</p>
      <p><i class="fas fa-hand-holding-heart"></i> • Impactar positivamente en el desarrollo socioeconómico de las comunidades, contribuyendo a la reducción de la pobreza, la creación de empleo digno y el mejoramiento de la calidad de vida.</p>
      <p><i class="fas fa-tree"></i> • Fomentar prácticas y tecnologías que aseguren la sostenibilidad ambiental, la conservación de recursos naturales y la mitigación del cambio climático, alineándose con los Objetivos de Desarrollo Sostenible.</p>
    </div>
  </section>
</main>
<router-outlet />
